/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;500;800&family=Roboto:wght@100;400&display=swap');


body{
    margin: 0px;
    margin-top:0px;
    font-family: 'Roboto', sans-serif;
}

#content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

/* header styles */
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    position: relative;
    background-color: grey;
    margin-top: 0px;
    justify-content: start;
}

nav {
    margin-top: 10px;
}

header b{
    margin-left: 20px;
    margin-right: 20px;  
}

header a{
    background-color: grey;
    border: 0px;
    color: white;
    margin: 10px 20px 10px 20px;
}

header h1{
    color: white;
}

/* home seciton styles */
#home{
    height: 75vh;
    margin: auto;
    align-items: center;
}

#home img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15vh 40% 20px 40%;
}

#home h2, #home p{
    margin:auto;
    padding: 5px;
    width: 100%;
    text-align: center;
}

/* about-me section styles */
#about-me{
    width: 90%;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 20px;
    margin:auto;
    margin-top: 50px;
    background-color: white;
}

#about-me #left{
    width: 50%;
    flex-direction: column;
    align-items: center;
}

#left img{
    margin: auto;
    margin-left: 30px;
    width: 300px;
    height: auto;
}

#left h3, h5{
    margin-left: 30px;
}

#contacts{
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
}

#contacts a{
    margin-right: 10px;
}

#about-me #right{
    flex-direction: column;
}

/* projects */

#projects{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
}

.project-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
    background-color: white;
    border: 3px solid #ccc;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 3px 3px 3px 3px rgb(222, 221, 221);
}

.project-card img{
    width: 100%;
    aspect-ratio: 8/5;
    object-fit: cover;
}

/* styles for the My Loves section */

#hobbies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    width: 30%;
}


#hobbies img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;
    padding: 10px;
    margin: 10px;
    /* width: 30% - 10px; */
}

h2 {
    margin-top: 60px;
}